body {
    margin: 0;
}

table.links {
    width: 18%;
    table-layout: auto;
    float: right;
    margin-right: 14%;
    padding: 5x;
    margin-top: 1%;

}

div {
    border: 1px solid pink;
    background: pink;
    margin-left: 23%;
    width: 11%;
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    clear: both;
    padding: 28px;
}

table, td {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

td {
    padding: 15px;
    
}

a:link {
    font-size: 18px;
    text-decoration: none;
    color:grey;

}