body {
    margin: 0;
}

table.links {
    width: 18%;
    table-layout: auto;
    float: right;
    margin-right: 14%;
    padding: 5x;
    margin-top: 1%;

}

div {
    border: 1px solid pink;
    background: pink;
    margin-left: 23%;
    width: 9%;
    text-align: center;
    clear: both;
    padding: 1%;
}

table, td {
    background-color: white;
    text-align: center;

}

td {
    padding: 15px;
    border-right: 1px solid white;
    
}

a:link {
    font-size: 18px;
    text-decoration: none;
    color:grey;

}